<h4>Internal server error</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this, then Angular is probably not to blame</p>
    <p>What's to do next?</p>
    <ol>
        <li>Open chrome dev tools! Then check the failing request in the network tab</li>
        <li>Examine the request URL - what API endpoint are you requesting?</li>
        <li>Reproduce the problem in Postman - if we get same error, Angular is 100% not the problem</li>
    </ol>
    <p style="font-weight: bold;">Following is the stack trace - the first few lines will tell you which line of code
        caused the issiue in the API</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>